<ng-container  else *ngIf="products.length > 0; else templateNoProduct">
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr 
                *ngFor="let item of products; 
                let i = index 
                let f = first 
                let l = last
                let e = even
                let o = odd
                trackBy: myTrachById"
    
                [style.background-color]="
                f===true ?'gray':
                l ===true ? 'cyan':
                e===true ?'blue':'yellow'"
                
            >
                <td scope="row">{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}} VNĐ</td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #templateNoProduct>
    <h4>Không có sản phẩm nào</h4>
</ng-template>

<button type="button" class="btn btn-primary" (click)="onLoadData()">Lấy dữ liệu</button>