<div class="mb-5">
    <h1>{{title}}</h1>
    <button type="button" class="btn btn-primary mr-2" (click)="onClickMe($event)">Click Me !</button>
    <button type="button" class="btn btn-primary" (dblclick)="onDbClickMe($event)">Double Click Me !!</button>
    <br>
    <hr>
    <h2>{{count}}</h2>
    <button type="button" class="btn btn-warning" (click)="onIncrease()">Tăng +</button>
</div>
<div class="form-group">
  <label>Username: </label>
  <p>{{username}}</p>
  <input type="text" class="form-control" (keyup)="onKeyUp($event)">
</div>

<div class="form-group">
    <span>Enter thì mới in ra</span>
    <input type="text" class="form-control" (keyup.enter)="onKeyUpEnter($event)">
    <label>Kết quả: {{name}}</label>
  </div>