<h2 class="text-center mb-5">{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-6 xs-1-12">
      <div class="card">
        <h5 class="card-header alert-primary">ngIf structural</h5>
        <div class="card-body">
          <app-ng-if-structural></app-ng-if-structural>
        </div>
      </div>
      <div class="card mt-3 mt-5">
        <h5 class="card-header alert-warning">ngIf kết hợp với ngFor</h5>
        <div class="card-body">
          <app-ng-for-combine-ng-if></app-ng-for-combine-ng-if>
        </div>
      </div>
      <div class="card mt-3 mt-5">
        <h5 class="card-header alert-success">ngSwichCase structural</h5>
        <div class="card-body">
          <app-ng-swich-case-structural></app-ng-swich-case-structural>
        </div>
      </div>
      <div class="card mt-3 mt-5">
        <h5 class="card-header alert-success">Attribute structural</h5>
        <div class="card-body">
          <app-ng-class-attribute></app-ng-class-attribute>
          <hr class="mt-5">
          <app-ng-style-attribute></app-ng-style-attribute>
        </div>
      </div>
    </div>
    <div class="col-6 xs-1-12">
      <div class="card">
        <h5 class="card-header alert-danger">ngFor structural</h5>
        <div class="card-body">
          <app-ng-for-structural></app-ng-for-structural>
        </div>
      </div>
    </div>
  </div>
</div>